@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";
.social-icons {
	color: #FFFFFF;
	text-align: center;
	padding-top: 5px;
	position: relative;
	margin: 1px 10px;
}
.social-icons a {
	font-size: 21px;
	padding: 8px 10px 6px;
	color: #FFFFFF;
	margin-bottom: 5px;
	display: inline-block;
	margin: 1px 5px;
	width: 30px;
	height: 30px;
}

.social-icons a:hover {
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
}

.social-icons .fa-facebook, .social-icons .facebook {
	background: #3B5998;
}

.social-icons .fa-twitter, .social-icons .twitter {
	background: #00abe3;
}

.social-icons .fa-google, .social-icons .google {
	background: #d3492c;
}

.social-icons .fa-linkedin, .social-icons .linkedin {
	background: #01669c;
}