/* CSS Document */

.woa-top-bar-wrap, .woa-top-bar .block .widget_nav_menu ul li .sub-menu {
  background: #238c23 none repeat scroll 0 0;
}
ul.products li.product h3 {
  background: #238c23 none repeat scroll 0 0;
  color:#fff;
}
.site-footer {
  background: #238c23 none repeat scroll 0 0;
  color: #fff;
}
ul.products li.product .price {
  color: #fff;

}
.icon-set-lsi_widget-2 a, .icon-set-lsi_widget-2 a:visited, .icon-set-lsi_widget-2 a:focus {
  background: #238c23!important;
}
.site-header, .main-navigation ul ul, .secondary-navigation ul ul, .main-navigation ul.menu > li.menu-item-has-children::after, .secondary-navigation ul.menu ul, .main-navigation ul.menu ul, .main-navigation ul.nav-menu ul {
  background-color: #238c23;
}
.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
color: #FFF!important;
}
.main-navigation ul li a {
  border-right: 2px solid #238c23!important;
}
button.alt, input.alt[type="button"], input.alt[type="reset"], input.alt[type="submit"], .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: #238c23!important;
  border-color: #3BAE09!important;
  color: #ffffff;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget-area .widget a.button, .site-header-cart .widget_shopping_cart a.button {
   background-color: #238c23!important;
  border-color: #3BAE09!important;
  color: #ffffff;
}
.site-footer h3,
#menu-footer-menu a {
	color: #ffffff;
}
