.woa-top-bar-wrap.hide-on-mobile {
  display:none;
}
.woa-top-bar {
  padding-top: 5px;
}
.woa-top-bar .block .widget {
  margin-bottom: 5px;
  font-size:13px;
}
.woa-top-bar .block .widget h1 {
  padding: 0 0 5px;
  margin-bottom: 5px;
}
.woa-top-bar .block .widget_nav_menu ul {
  list-style:none;
}
.woa-top-bar .block .widget_nav_menu ul li {
  display:inline-block;
  position:relative;
  margin-bottom:0px;
}
.woa-top-bar .block .widget_nav_menu ul li:before {
  content: '';
  display:none;
}
.woa-top-bar .block .widget_nav_menu ul.menu > li {
height: 22px;
}
/*.woa-top-bar .block .widget_nav_menu ul.menu li:first-child {
  margin-left:-12px;
}*/
.woa-top-bar .block .widget_nav_menu ul li a {
  padding:5px 8px 10px;
}
.woa-top-bar .block .widget_nav_menu ul li.menu-item-has-children > a {
  padding-right:20px;
}
.woa-top-bar .block .widget_nav_menu ul li.menu-item-has-children > a:after {
  content: "\f107";
  font-family: "FontAwesome";
  position:absolute;
  right:0;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu {
  display:none;
  position: absolute;
  top: 27px;
  left: -5px;
  z-index: 1000;
  width: 200px;
  margin: 0;
}
.woa-top-bar .block .widget_nav_menu ul li:hover .sub-menu {
  display:block;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li {
  position:relative;
  display:block;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li:first-child {
  margin-left:0;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li a {
  display:block;
  padding:5px 12px;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li.menu-item-has-children > a:after {
  content: "\f105";
  position:absolute;
  right:8px;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li .sub-menu {
  display:none;
  position:absolute;
  left: 200px;
  top:0;
  right:0;
  width:200px;
}
.woa-top-bar .block .widget_nav_menu ul li .sub-menu li:hover > .sub-menu {
  display:block;
}

@media screen and (min-width: 768px) {
  .woa-top-bar-wrap.hide-on-mobile {
    display:block;
  }
  .woa-top-bar {
    padding-top: 5px;
  }
  .woa-top-bar:after {
    content: "";
    display: table;
    clear: both;
  }
  .woa-top-bar.col-2 .block {
    float: left;
    margin-right: 4.34783%;
  }
  .woa-top-bar.col-2 .woa-top-bar-2 {
    float: right;
    margin-right: 0;
    text-align:right;
  }
  .woa-top-bar.col-2 .block .widget {
    margin-bottom: 5px;
  }
  .woa-top-bar.col-2 .woa-top-bar-2 .widget{
    margin: 0 10px 5px;
  }
}